svg.whiteboard {
  position: fixed;
  top: 200px;
  left: 0;
  z-index: -1;
}

text {
  stroke: none;
  font-family: sans-serif;
  user-select: none;
}

rect {
  stroke: #5089ed;
  transform: translate(-6px, -26px);
  rx: 12;
  height: 40px;
  fill: #f1f1f1;
}

#ruler {
  visibility: hidden;
}

.toggle-icon {
  cursor: pointer;
  font-size: 1.5em;
  transition-duration: 0.1s;
}

.toggle-icon.prev {
  transform: scale(1.1);
}
